= render "search"
.box
  .box-title
    Search Results
  .box-content.nopadding
  .row-fluid
  %table.table.table-bordered
    %thead
      %tr
        %th Account ID
        %th Status
    %tbody 
      - @accounts.each do |account|
        %tr
          %td= @accounts.id 
          %td= @accounts.status_state
    %li= link_to 'Rolling Denials', dossier_report_path('accounts/rolling_denials')
